backend/node_modules/
frontend/node_modules/
**/node_modules/
backend/uploads/
dist
build
coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.sqlite
*.sqlite3
*.db
*.pid
*.seed
*.tgz
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.cache
*.test.js
*.test.ts
*.test.jsx
*.test.tsx
__pycache__/
*.pyc
*.pyo
*.pyd
*.sass-cache/
*.eslintcache
.next/
out/
*.iml
*.lock
.DS_Store
backend/.DS_Store